<div id="center-titles">

    <h3 class="titlecolor">{{model.title}}</h3>

</div>


<div id="center-titles">

  {{article-detail article=model}}
</div>

<div class="authoralign">

  <p>By {{model.author}}  3 hours ago</p>
</div>


<div class="centercontent">

  <p>{{model.content}}</p>
</div>
